body {
    font-family: "Arial";
    background-image: url("https://cdn.pixabay.com/photo/2018/01/03/17/05/palm-trees-3058728_1280.jpg");
}

.ui.card {
    background: #f2fbe8;
}

#container {
    height: 100vh;
  }

#text {
    margin-top: 5px;
    padding: 10px;
}

#author {
    text-align: right;
    padding-right: 5px;
}

#new-quote {
    background-color: white;
    padding: 5px;
}

.options {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0px 10px 10px 10px;
}